<! DOCTYPE html>

	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,intial-scale=1.0">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<title><%= title %></title>
	</head>

	<body class="full-height-grow">

		<%- include('../views/partials/loginHeader.ejs') %>
		<div class="container full-height-grow">
			<section class="main-section">
				<div class="left">
					<h1 class='index-title'>Add Device</h1>
					&lt; Insert some witty slogan here &gt;
				</div>
				<div class="page-content">
					<div class="input-group" style="padding-top:25px;">
						<% if(typeof addSuccess != undefined && addSuccess != '') { %>
						<div class='input-group-edit-message' style="text-align:center;">
							<%- addSuccess %><a href="/LoggedIn/user/view-prescriptions" class="profile"
								style="color:white;"> View Prescription(s)</a>
						</div>
						<% } else if(typeof addError != undefined && addError !=''){ %>
						<div class='input-group-edit-message' style="text-align:center;">
							<%- addError %>
						</div>
						<% } else if(typeof errPin != undefined && errPin !=''){ %>
						<div class='input-group-edit-message' style="text-align:center;">
							<%- errPin %>
						</div>
						<% } %>
						<form class="join-form-edit" action="/LoggedIn/add-device?_method=PUT" method="POST"
							style="width:45vw;">
							<div class="input-group" style="margin-bottom:1rem;"><b>Device ID:</b> <input type="text"
									id="addDevice" name="addDevice" autofocus required></div>
							<div class="input-group" style="margin-bottom:1rem;"><b>Set PIN:</b> <input type="text"
									id="pin1" name="pin1" required></div>
							<div class="input-group" style="margin-bottom:1rem;"><b>Confirm PIN:</b> <input type="text"
									id="pin2" name="pin2" required></div>
							<div class="input-group" style="margin-bottom:1rem;">
								<button type="submit" class="btn">Save</button>
							</div>
							<div class="input-group-cancel">
								<a href="/LoggedIn/user" class="input-group-cancel">Cancel</a>
								<! onclick="history.go(-1)">
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
		<%- include('../views/partials/footer.ejs') %>
	</body>

	</html>