<! DOCTYPE html>

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <title><%= title %></title>
    </head>

    <body class="full-height-grow">

        <%- include('../views/partials/loginHeader.ejs') %>
        <div class="container full-height-grow">
            <section class="main-section">
                <div class="left">
                    <h1 class='index-title'>Add Prescription</h1>
                    &lt; Insert some witty slogan here &gt;
                </div>
                <div class="page-content">
                    <div class="input-group" style="padding-top:25px;overflow:auto;width:45vw;">
                        <% if(typeof success != undefined && success != ''){ %>
                        <%= success %> <a href="/LoggedIn/user/view-prescriptions" class="profile" style="color:white;">
                            View Prescription(s)</a>
                        <% } else if(typeof error != undefined && error != ''){ %>
                            <%= error %>
                        <% } %>
                        <form class="join-form-edit" action="/LoggedIn/user/add-prescription" method="POST">
                            <div class="input-group" style="margin-bottom:1rem;"><b>Prescription Name:</b> <input
                                    type="text" id="addPrescript" name="addPrescript" autofocus required></div>
                            <div class="input-group" style="margin-bottom:1rem;"><b>Dosage:</b> <input type="text"
                                    id="dosage" name="dosage" required>
                            </div>
                            <div class="input-group" style="margin-bottom:1rem;"><b>Schedule Time:</b> <input
                                    type="time" id="schedule" name="schedule" required></div>
                            <div class="input-group" style="margin-bottom:1rem;">
                                <button type="submit" class="btn">Save</button>
                            </div>
                            <div class="input-group-cancel">
                                <a href="/LoggedIn/user/view-prescriptions" class="input-group-cancel">Cancel</a>
                                <! onclick="history.go(-1)">
                            </div>
                        </form>
                    </div>

            </section>
        </div>

        <%- include('../views/partials/footer.ejs') %>

    </body>

    </html>