<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock</title>
</head>

<body class = "full-height-grow">
	
	<header class = "main-class-header" id = "main-header">
		<a href = "/">			
		<div class = "logo-name">
			<svg class ="logo" width="46" height="71" viewBox="0 0 46 71" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="2.5" y="13.5" width="41" height="55" rx="17.5" fill="#09B5FE" stroke="black" stroke-width="5"/>
				<rect x="2.5" y="2.5" width="41" height="39" rx="17.5" fill="#FF0A0A" stroke="black" stroke-width="5"/>
				<circle cx="22.5" cy="50.5" r="4.5" fill="black"/>
				<path d="M22.5 51.2941L26.3971 58.0441H18.6029L22.5 51.2941Z" fill="black"/>
			</svg>		
			<h1 class = "logo-name-title">Pillock</h1>
		</div>
            <nav class = "main-nav-item">
                <form action = "/logout?_method=DELETE" method = "POST" class = "join-form-user">
                    <ul>
                        <a href = "/about"><li> About Us </li></a>
                        <li id = "login"><button type = "submit" class = "btn-user">Log Out</button></li>
                        <a href = "/loggedIn/user" id = "a-user"><li id = "user-prof">View Profile</li></a>
                    </ul>
                </form>
            </nav>
    </header>
	
	

	<div class = "container full-height-grow">
		<section class = "main-section">
			<div class = "left">
				<h1 class = 'index-title'>Welcome back, <%= fname %></h1>
				&lt; Insert some witty slogan here  &gt;
			</div>
			<div class = "page-content">
				<div class = "input-group">
					-- User Profile --
					<form class = "join-form" action = "/loggedIn/edit?_method=PUT" method = "POST">
					<div>First:<input type = text id = "first_name" name = "first_name" value = <%= fname%>></div>
					<div>Last: <input type = text id = "last_name" name = "last_name" value = <%= lname %>></div>
					<div>Email: <input type = text id = "user_email" name = "user_email" value = <%= email %>></div>
					<div>Date of Birth: <input type="date" id = "birthday" name = "birthday" value = <%= birthday %>></div>
					<div>Prescriptions: 
						<ul>
							<!--<li>Asprin</li>
							<li>Hot Sauce</li>-->
							<script language = "javascript">
								var pills = "<%= prescript %>"
								document.write(pills)
							</script>
						</ul>
					</div>
					<div class="input-group">
						<button type="submit" class="btn">Save</button>
					</div>
					<div class = "input-group-cancel">
						<a href = "/">Cancel</a>
						<! onclick="history.go(-1)">
					</div>
					</form>
				</div>
				
            </div>
            
		</section>
	</div>

	<footer class = "main-class-footer">
        <div class = "footer-logo">
		    <a href = "/">
				<svg  width="46" height="71" viewBox="0 0 46 71" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="2.5" y="13.5" width="41" height="55" rx="17.5" fill="#09B5FE" stroke="black" stroke-width="5"/>
					<rect x="2.5" y="2.5" width="41" height="39" rx="17.5" fill="#FF0A0A" stroke="black" stroke-width="5"/>
					<circle cx="22.5" cy="50.5" r="4.5" fill="black"/>
					<path d="M22.5 51.2941L26.3971 58.0441H18.6029L22.5 51.2941Z" fill="black"/>
				</svg>
			</a>
			<br>F*cking Sh*t Up Everyday, Day By Day
		</div>
	</footer>

</body>
</html>