<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title><%= title %></title>
</head>

<body class = "full-height-grow">
	
	<%- include('../views/partials/loginHeader.ejs') %>	

	<div class = "container full-height-grow">
		<section class = "main-section">
			<div class = "left">
				<h1 class = 'index-title'>Welcome back, <%= fname %></h1>
				&lt; Insert some witty slogan here  &gt;
			</div>
			<div class = "page-content">
				<div class = "input-group">
					-- User Profile --
					<% if(message) { %>
						<%= message %>
					<% } %>
					<form class = "join-form" action = "/LoggedIn/user/edit?_method=PUT" method = "POST">
						<div>Email:<%= email %></div>
						<div>First:<input type = text id = "first_name" name = "first_name" value = <%= fname%> required></div>
						<div>Last: <input type = text id = "last_name" name = "last_name" value = <%= lname %> required></div>
						
						<div>Date of Birth: <input type="date" id = "birthday" name = "birthday" value = <%= birthday %> required></div>
						<div>Prescriptions: 
							<ul>
								<!--<li>Asprin</li>
								<li>Hot Sauce</li>-->
								<script language = "javascript">
									var pills = "<%= prescript %>"
									document.write(pills)
								</script>
							</ul>
						</div>
						<div class="input-group">
							<button type="submit" class="btn">Save</button>
						</div>
						<div class = "input-group-cancel">
							<a href = "/LoggedIn/user">Cancel</a>
							<! onclick="history.go(-1)">
						</div>
					</form>
				</div>
				
            </div>
            
		</section>
	</div>

	<%- include('../views/partials/footer.ejs') %>

</body>
</html>