<! DOCTYPE html>

	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,intial-scale=1.0">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<title><%= title %></title>
	</head>

	<body class="full-height-grow">

		<%- include('../views/partials/loginHeader.ejs') %>

		<div class="container full-height-grow">
			<section class="main-section">
				<div class="left">
					<h1 class='index-title'>Edit Profile</h1>
					&lt; Insert some witty slogan here &gt;
				</div>
				<div class="page-content">
					<div class="input-group" style="padding-top:15px;">
						<% if(typeof edituser != undefined && edituser != '') { %>
						<div class='input-group-edit-message' style="text-align:center;">
							<%- edituser %><a href="/LoggedIn/user" class="profile" style="color:white;"> Go Back to
								Profile</a>
						</div>
						<% } else if(typeof erruser != undefined && erruser !=''){ %>
						<div class='input-group-edit-message' style="text-align:center;">
							<%- erruser %>
						</div>
						<% } %>
						<form class="join-form-edit" action="/LoggedIn/user/edit?_method=PUT" method="POST"
							style="width:45vw;padding-top:25px;">
							<div class="input-group-edit">
								<b>Email:</b>
							</div>
							<div class="input-group-edit"><%= email %></div>
							<div class="input-group-edit"><b>First Name:</b><input type=text id="first_name"
									name="first_name" value=<%= fname%> required></div>
							<div class="input-group-edit"><b>Last Name:</b><input type=text id="last_name"
									name="last_name" value=<%= lname %> required></div>

							<div class="input-group-edit"><b>Date of Birth:</b><input type="date" id="birthday"
									name="birthday" value=<%= birthdate %> required></div>
							<hr width="100%" noshade>
							<!-- <div class="input-group-edit"><b>Prescriptions:</b>
								<ul>
									<script language="javascript">
										var pills = "<%= prescript %>"
										document.write(pills)
									</script>
								</ul>
							</div> -->
							<div class="input-group" style="margin-bottom:15px;">
								<button type="submit" class="btn">Save</button>
							</div>
							<div class="input-group-cancel" style="padding-top:0;">
								<a href="/LoggedIn/user">Cancel</a>
								<! onclick="history.go(-1)">
							</div>
						</form>
					</div>

				</div>

			</section>
		</div>

		<%- include('../views/partials/footer.ejs') %>

	</body>

	</html>