<! DOCTYPE html>

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <title><%= title %></title>
    </head>

    <body class="full-height-grow">

        <%- include('../views/partials/loginHeader.ejs') %>

        <div class="container full-height-grow">
            <section class="main-section">
                <div class="left">
                    <h1 class='index-title'>Edit Prescriptions</h1>
                    &lt; Insert some witty slogan here &gt;
                </div>
                <div class="page-content">
                    <div class="input-group">
                        <% if(typeof editprescript != undefined && editprescript != '') { %>
                        <div class='input-group-edit-message' style="text-align:center;">
                            <%- editprescript %><a href="/LoggedIn/user/view-prescriptions" class="profile" style="color:white;"> View Prescription(s)</a>
                        </div>
                        <% } else if(typeof errprescript != undefined && errprescript !=''){ %>
                        <div class='input-group-edit-message' style="text-align:center;">
                            <%- errprescript %>
                        </div>
                        <% } %>
                        <div style="overflow:auto;overflow-x:hidden;height:325px;width:50vw;">
                            <% for (var i in prescript){ %>
                            <form class="join-form-edit" action="/LoggedIn/user/prescript?_method=PUT" method="POST">
                                <input type='text' id='pid' name='pid' style="display:none;" value="<%= pid[i] %>">
                                <div class="input-group-edit"><b>Name:</b><input type=text id="pname" name="pname"
                                        value="<%= prescript[i]%>" required></div>
                                <div class="input-group-edit"><b>Dosage:</b><input type=number id="dosage" name="dosage"
                                        value="<%= dosage[i]%>" required></div>
                                <div class="input-group-edit"><b>Scheduled Time:</b><input type="time" id="schedule"
                                        name="schedule" value="<%= schedule[i]%>" required></div>
                                <div class="input-group" style="padding-top:10px;">
                                    <button type="submit" class="btn">Save</button>
                                </div>
                            </form>
                            <% } %>
                        </div>
                        <div class="input-group-cancel">
                            <a href="/LoggedIn/user/view-prescriptions">Cancel</a>
                            <! onclick="history.go(-1)">
                        </div>

                    </div>

                </div>

            </section>
        </div>

        <%- include('../views/partials/footer.ejs') %>

    </body>

    </html>