<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title><%= title %></title>
</head>

<body class = "full-height-grow">
	
    <%- include('../views/partials/loginHeader.ejs') %>	
    <div class = "container full-height-grow">
		<section class = "main-section">
			<div class = "left">
				<h1 class = 'index-title'>Manage Device</h1>
				&lt; Insert some witty slogan here  &gt;
			</div>
			<div class = "page-content">
				<div class = "input-group">
					<form class = "join-form-edit" action = "/LoggedIn/manage-device?_method=PUT" method = "POST" style="width:45vw;">
                        <div><b>Device ID:</b> <%= deviceID %></div>
                        <div><b>Prescription(s):</b></div>
                        <ul class = "prescript-list">
                            <% for(var i in pname) { %>
                                <li style="padding-bottom:10px;"><%= pname[i] %><br>
                                    &emsp;Bin: <input type = "number" value = "<%= pbin[i] %>" style="width:65px;">
                                </li>
                            <% } %>
                        </ul>
						<div class="input-group">
							<button type="submit" class="btn">Save</button>
						</div>
						<div class = "input-group-cancel">
							<a href = "/LoggedIn/user" class = "input-group-cancel">Cancel</a>
							<! onclick="history.go(-1)">
						</div>
					</form>
            </div>
            
		</section>
	</div>
    
    <%- include('../views/partials/footer.ejs') %>

</body>
</html>