<! DOCTYPE html>

	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,intial-scale=1.0">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<title><%= title %><%= fname %></title>
	</head>

	<body class="full-height-grow">

		<%- include('../views/partials/loginHeader.ejs') %>

		<div class="container full-height-grow">
			<section class="main-section">
				<div class="left">
					<h1 class='index-title'>Welcome back, <%= fname %></h1>
					&lt; Insert some witty slogan here &gt;
				</div>
				<div class="page-content">
					<div class="user-page-content">
						<h1 class="left">-- User Profile --</h1>
						<div><b>Email:</b> <%= email %></div>
						<div><b>First Name:</b> <%= fname %></div>
						<div><b>Last Name:</b> <%= lname %> </div>
						<div><b>Birthday:</b> <%= birthdate%></div>
						<div style="text-align:right;"><a href="/LoggedIn/user/edit" class="profile">Edit Profile</a>
						</div>
						<hr width="100%" noshade>
						<div>
							<b>Device ID:</b>
							<% if (device == 0 || device == null) {%>
							--none--
							<div><a href="/LoggedIn/add-device" class="profile">Add Device</a></div>
							<% } else {%>
							<%= device %>
							<div><b>Bins in-use: </b><%= pbin %></div>
							<div><a href="/LoggedIn/manage-device" class="profile">Manage Device</a></div>
							<% } %>
						</div>
						<hr width="100%" noshade>
						<div>
							<b><a href="/LoggedIn/user/view-prescriptions" class="profile">View Prescription(s)</a></b>
						</div>
						<hr width="100%" noshade>

						<form class="join-form-edit" action="/logout?_method=DELETE" method="POST" class="join-form">
							<div class="input-group" style="padding-top:5px;">
								<button type="submit" class="btn" justify="center">Log Out</button>
							</div>
						</form>
						<div style="display:flex;justify-content: center;margin-bottom: 0;">
							<form method="POST" action="/LoggedIn/user?_method=DELETE">
								<input class="delete-btn" id="delete_user" name="delete_user" type='submit'
									value="delete profile" onclick="warn()" >
							</form>
						</div>
						<script type="text/javascript">
							function warn() {
								if(confirm("Are you sure you want to drop that dundundun?")){
									alert("YOU JUST DROPPED THAT DUNDUNDUN!")
									next()
								}else{
									res.redirect('/LoggedIn/user')
								}
							}
						</script>
					</div>
				</div>

			</section>
		</div>

		<%- include('../views/partials/footer.ejs') %>

	</body>

	</html>