<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock</title>
</head>

<body class = "full-height-grow">
	
	<%- include('../views/partials/loginHeader.ejs') %>	

	<div class = "container full-height-grow">
		<section class = "main-section">
			<div class = "left">
				<h1 class = 'index-title'>Welcome back, <%= fname %></h1>
				&lt; Insert some witty slogan here  &gt;
			</div>
			<div class = "page-content">
				<div>
					<div justify = 'center'>-- User Profile --</div>
					<div>Email: <%= email %></div>
					<div>First: <%= fname %></div>
					<div>Last: <%= lname %> </div>
					<div>Birthday: <%= birthdate%></div>
					<div>Prescriptions: 
						<ul>
							<script language = "JavaScript">
								var pills = "<%= prescript %>"
								document.write(pills)
							</script>
						</ul>
					</div>
				</div>
				<div><a href = "/LoggedIn/user/edit">Edit Profile</a></div><div><a href = "/LoggedIn/user">Add Device</a></div>
				<form action = "/logout?_method=DELETE" method = "POST" class = "join-form">
                    <button type = "submit" class = "btn">Log Out</button>
                </form>
            </div>
            
		</section>
	</div>

	<%- include('../views/partials/footer.ejs') %>

</body>
</html>


